/**
 * ======
 * Basics
 * =======
 */

html,
body {
  // Ajuster l'algorithme d'amplification du texte sur certains appareils mobiles.
  // + Orientation iOS5 font-size fix
  text-size-adjust: 100%;
  @media (orientation: landscape) and (max-device-width: mtt(screen-medium)) {
    -webkit-text-size-adjust: 100%;
  }
}
body {
  @if mtt(font-family-text) {
    font-family: mtt(font-family-text);
  }
  // Variable font
  // https://www.zeichenschatz.net/typografie/implementing-a-variable-font-with-fallback-web-fonts.html
  @if mtt(font-family-text-variable) {
    @supports (font-variation-settings: normal) {
      font-family: mtt(font-family-text-variable);
    }
  }
  color: mtt(color-text);
}