/**
 * ======
 * Basics
 * =======
 */

html,
body {
  // Ajuster l'algorithme d'amplification du texte sur certains appareils mobiles.
  // + Orientation iOS5 font-size fix
  text-size-adjust: 100%;
  @media (orientation: landscape) and (max-device-width: mtt(screen-medium)) {
    -webkit-text-size-adjust: 100%;
  }
}
body {
  font-family: mtt(font-family-text);
  color: mtt(color-text);
}