/**
 * ==========================
 * preformatted text and code
 * ==========================
 */

pre,
code,
var,
samp,
kbd,
tt {
  font-size: 1em;
  @if mtt(font-family-monospace) {
    font-family: mtt(font-family-monospace);
  }
  // Variable font
  // https://www.zeichenschatz.net/typografie/implementing-a-variable-font-with-fallback-web-fonts.html
  @if mtt(font-family-monospace-variable) {
    @supports (font-variation-settings: normal) {
      font-family: mtt(font-family-monospace-variable);
    }
  }
}

pre {
  tab-size: 4; // reset initial value (8 is too much)
  overflow-x: auto;
}

// Keyboard input element
// Represents a span of inline text denoting textual user input from a keyboard.
// Attempts to style it as a 2 lines square.
$mtt-kbd-font-size: 0.8em;
kbd {
  display: inline-block;
  min-width: calc(#{spacing(2, em)} + 2px); // 2 lines + border width
  padding:
    calc(#{spacing(3/4, em)} + ((1em - #{$mtt-kbd-font-size}) / 2))
    0.5em
    calc(#{spacing(1/4, em)} + ((1em - #{$mtt-kbd-font-size}) / 2)); // ~2 lines in total
  font-size: $mtt-kbd-font-size;
  white-space: nowrap;
  text-align: center;
  border: 1px solid mtt(color-border);
  border-radius: 0.2em;
  box-shadow:
    0px 3px 0px -2px white,
    0px 2px 0px 0px mtt(color-border);
  transition: border 0.2s, box-shadow 0.2s;

  &:active {
    border-color: mtt(color-text);
    box-shadow:
      0px 3px 0px -2px white,
      0px 2px 0px 0px mtt(color-text);
  }
}

// Enclose inline text which represents sample (or quoted) output from a computer program.
samp {
  font-weight: bold;
}

// Represents the name of a variable.
var {
  font-style: italic;
}