/**
 * ========
 * Headings
 * ========
 */
@if mtt(headings) {

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  display: block;
  padding: 0;
  font-weight: normal;
  font-family: mtt(font-headings);
}

h5,
.h5,
h6,
.h6 {
  font-weight: bold;
}

// Subtitles

h1 small,
.h1 small,
h2 small,
.h2 small,
h3 small,
.h3 small,
h4 small,
.h4 small,
h5 small,
.h5 small,
h6 small,
.h6 small {
  font-size: 60%;
}

}