/**
 * ================
 * Default settings
 * ================
 *
 * You can override all or just some of these settings with your own values.
 * Define a $tinytinytypo map BEFORE importing Minitinytypo.
 *
 * Example:
 *
 * $minitinytypo: (
 *   setting1: xxx,
 *   setting2: xxx
 * );
 *
 * Available settings:
 *
 * OPTIONAL IMPORTS
 * vertical-rythm   (bool)
 * headings         (bool)
 * links            (bool)
 * lists            (bool)
 * tables           (bool)
 * code             (bool)
 * quotes           (bool)
 * media            (bool)
 * print            (bool)
 *
 * COLORS
 * color-main       (color) Brand color
 * color-text       (color) Text color
 * color-link       (color) Links color
 * color-mid        (color) Medium gray and lines color
 *
 * FONT FAMILIES
 * font-family-text        (string) Main text body
 * font-family-headings    (string) Headings
 * font-monospace   (string) Code
 * 
 * TYPOGRAPHY & VERTICAL RYTHM
 * font-size        (size)        Base font size
 * font-size-factor (number)      Factor to increase the font-size responsively, usually between 0 and 1
 * line-height      (number)      Line height
 * font-scale       (number|list) Vertical rythm: defines the headings size incrementation
 *                                - Number between 1 and 10 to use a preset
 *                                - Or a list with 6 numbers (h1 to h6)
 * proximity (bool)               Vertical rythm: draw content closer together
 *
 * BREAKPOINTS
 * screen-small     (size) Mobile breakpoint
 * screen-medium    (size) Tablet breakpoint
 * screen-large     (size) Desktop breakpoint
 */

// Default values set
$minitinytypo-defaults: (
  vertical-rythm:        true,
  typo:                  true,
  headings:              true,
  links:                 true,
  lists:                 true,
  tables:                true,
  code:                  true,
  quotes:                true,
  media:                 true,
  print:                 true,
  color-main:            hsla(215, 100%, 45%, 1),
  color-text:            hsla(  0,   0%, 15%, 1),
  color-border:          hsla(  0,   0%,  0%, 0.2),
  color-link:            inherit,
  font-family-text:      sans-serif,
  font-family-headings:  sans-serif,
  font-family-monospace: #{monospace, monospace}, // Corrects the inheritance and scaling of font size in all browsers.
  font-size:             mtt-em(16px),
  font-size-factor:      0.15,
  font-scale:            4,
  line-height:           1.5,
  proximity:             true,
  screen-small:          mtt-em(480px),
  screen-medium:         mtt-em(640px),
  screen-large:          mtt-em(960px)
);
$minitinytypo-defaults-plus: (
  color-link-hover:   map-get($minitinytypo-defaults, color-main),
  spacing:            map-get($minitinytypo-defaults, line-height) * map-get($minitinytypo-defaults, font-size) / 1em * 1rem, // Vertical spacing
  gutter:             map-get($minitinytypo-defaults, line-height) * map-get($minitinytypo-defaults, font-size) / 1em * 1rem // Horizontal gutter
);
$minitinytypo-defaults: map-merge($minitinytypo-defaults-plus, $minitinytypo-defaults);

// Empty $minitinytypo set as default in case one is not supplied by user
$minitinytypo: () !default;

// Merge defaults with $minitinytypo to create base level map
$minitinytypo: map-merge($minitinytypo-defaults, $minitinytypo);