/**
 * ================
 * Default settings
 * ================
 *
 * You can override all or just some of these settings with your own values.
 * Define a $tinytinytypo map BEFORE importing Minitinytypo.
 *
 * Example:
 *
 * $minitinytypo: (
 *   setting1: xxx,
 *   setting2: xxx
 * );
 *
 * Available settings:
 *
 * OPTIONAL IMPORTS
 * vertical-rythm   (bool)
 * headings         (bool)
 * links            (bool)
 * lists            (bool)
 * tables           (bool)
 * code             (bool)
 * quotes           (bool)
 * media            (bool)
 * print            (bool)
 *
 * COLORS
 * color-main       (color) Brand color
 * color-text       (color) Text color
 * color-link       (color) Links color
 * color-mid        (color) Medium gray and lines color
 *
 * FONT FAMILIES
 * font-text        (string) Main text body
 * font-headings    (string) Headings
 * font-monospace   (string) Code
 * 
 * TYPOGRAPHY
 * font-size        (size)   Base font size
 * font-size-factor (number) Factor to increase the font-size responsively, usually between 0 and 1
 * line-height      (number) Line height
 *
 * BREAKPOINTS
 * screen-small     (size) Mobile breakpoint
 * screen-medium    (size) Tablet breakpoint
 * screen-large     (size) Desktop breakpoint
 */

// Default values set
$minitinytypo-defaults: (
  vertical-rythm:     true,
  typo:               true,
  headings:           true,
  links:              true,
  lists:              true,
  tables:             true,
  code:               true,
  quotes:             true,
  media:              true,
  print:              true,
  color-main:         hsl(200, 100%, 33%),
  color-text:         hsl(  0,   0%, 13%),
  color-mid:          hsl(  0,   0%, 40%),
  color-link:         inherit,
  font-text:          serif,
  font-headings:      sans-serif,
  font-monospace:     #{monospace, monospace}, // Correct the inheritance and scaling of font size in all browsers.
  font-size:          mtt-em(16px),
  font-size-factor:   0.15,
  line-height:        1.5,
  screen-small:       mtt-em(480px),
  screen-medium:      mtt-em(640px),
  screen-large:       mtt-em(960px)
);
$minitinytypo-defaults-plus: (
  color-link-hover:   map-get($minitinytypo-defaults, color-main),
  spacing:            map-get($minitinytypo-defaults, line-height) * map-get($minitinytypo-defaults, font-size) / 1em * 1rem, // Vertical spacing
  gutter:             map-get($minitinytypo-defaults, line-height) * map-get($minitinytypo-defaults, font-size) / 1em * 1rem // Horizontal gutter
);
$minitinytypo-defaults: map-merge($minitinytypo-defaults-plus, $minitinytypo-defaults);

// Empty $minitinytypo set as default in case one is not supplied by user
$minitinytypo: () !default;

// Merge defaults with $minitinytypo to create base level map
$minitinytypo: map-merge($minitinytypo-defaults, $minitinytypo);