/**
 * ==============
 * Vertical rythm
 * ==============
 *
 * Keeps vertical spaces between elements on a page consistent with each other.
 * Based on the Shevy library : https://github.com/kyleshevlin/shevy
 */
@if mtt(vertical-rythm) {

// Font scale presets
$mtt-font-scales: (
  1:  (1.382,  1.295, 1.214, 1.138, 1.067, 1), // minor_second
  2:  (1.802,  1.602, 1.424, 1.266, 1.125, 1), // major_second
  3:  (2.488,  2.074, 1.728, 1.44,  1.2,   1), // minor_third
  4:  (2.5,    2.1,   1.8,   1.5,   1.25,  1), // shevy default
  5:  (3.052,  2.441, 1.953, 1.563, 1.25,  1), // major_third
  6:  (4.209,  3.157, 2.369, 1.777, 1.333, 1), // perfect_fourth
  7:  (5.653,  3.998, 2.827, 1.999, 1.414, 1), // augmented_fourth
  8:  (7.594,  5.063, 3.375, 2.25,  1.5,   1), // perfect_fifth
  9:  (10.486, 6.554, 4.096, 2.56,  1.6,   1), // minor_sixth
  10: (11.089, 6.854, 4.236, 2.618, 1.618, 1)  // golden_section
);

// Font scale configured
$mtt-font-scale: null;
@if type-of(mtt(font-scale) == 'map') {
  $mtt-font-scale: mtt(font-scale);
}
@if type-of(mtt(font-scale) == 'number') {
  $mtt-font-scale: map-get($mtt-font-scales, mtt(font-scale));
}

// Shevy configuration
$shevy: (
  base-font-size:   mtt(font-size),
  base-line-height: mtt(line-height),
  base-font-scale:  $mtt-font-scale,
  margin-bottom:    true,
  proximity:        mtt(proximity),
  proximity-factor: .85
);

// Body: sets font-size and line-height
// @include body; // Disabled because we want our reponsive font-size
body {
  font-size: mtt-font-size();
  line-height: mtt(line-height);
}

// Headings: sets font-size, line-height and margin-bottom
@include headings;

// Content: sets margin-bottom
// @include content; // Disabled because not enough elements: https://github.com/kyleshevlin/shevy/issues/12
p,
ul,
ol,
dl,
dd,
blockquote,
address,
pre,
fieldset,
figure,
table,
hr {
  margin-bottom: mtt(spacing);
}

}